# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Imports from dep ensure
/vendor
/buildagent
/api-server
/webhooks-server
/*-sa-key-*.json
