# Binaries for programs and plugins
/agent
/apiserver
/console
/gcp

# Build temporary files
/Gitzup__*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Imports from dep ensure
/vendor

# Local files
/*.local.*
/.travis-ci-sa-key.json
